html{
	background-color: #222;
}

body{    
    font-family: georgia;
	background-color: white;
    width: 600px;	
	margin-left: auto;
    margin-right: auto;
	padding: 20px;
}

h1{
	font-size: 40px;
	text-align: center;
}

.stor{
	width: 100%;
	height: auto;
}

code{
	font-family: courier new;
	font-size: 12px;
	color: darkblue;
}

.green{
	color: darkgreen;
}

.red{
	color: darkred;
}

#caption{
	font-size: 12px;
	text-align: center;
}

#generell{
	margin-top: 50px;
	margin-bottom: 80px;
}

#content{
	margin-top: 50px;
}

@media print
{
	footer{
		position: fixed;
		bottom: -800px;
	}
	
    .noprint{
        display: none !important;
    }
}

#pagebreak{
	page-break-before:always;
}
	
